@import "bootstrap/bootstrap.less";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}

@import "bootstrap/responsive.less";


/* ===== Primary Styles ========================================================
   Author: Yuya Takeyama
   ========================================================================== */

#dd_box {
  border: 1px #aaa solid;
  margin: 10px;
  height: 200px;
}

#dd_box.dragging {
  background-color: #ffc;
}

#output_area {
  font-family: monospace;
  border: 1px #aaa solid;
  background-color: #fff;
  margin: 10px;
}
